* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #f8f9fa;
  height: 100vh;
  display: grid;
  grid-template-columns: 25em 15em;
  place-content: center;
  margin: auto;
  grid-template-areas: none;
}

.calculator {
  width: fit-content;
  max-width: 21em;
  grid-area: auto;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#display-txt {
  color: #5e2129;
  letter-spacing: -0.5px;
  line-height: 1.75;
  font-size: 2.5em;
}

.display-btns {
  display: flex;
  align-items: center;
  gap: 0 1em;
}

.display-btn {
  border-radius: 0.25em;
  color: #5e2129;
  background: #efe9ea;
  aspect-ratio: 2 / 1;
  display: flex;
  padding: 0.4em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2em;
  transition: background 0.2s;
  user-select: none;
}

.buttons {
  display: flex;
  gap: 0 1em;
}

.numbers,
.operations {
  margin: 1em 0 0;
}

.button {
  border: none;
  border-radius: 0.25rem;
  color: #5e2129;
  background: #efe9ea;

  transition: background 0.2s;
  padding: 0.3em 0.7em;
  cursor: pointer;
  user-select: none;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 5em);
  grid-template-rows: repeat(4, 5em);
  gap: 1em;
  place-content: center left;
}

.operations {
  display: grid;
  grid-template-columns: 3em;
  grid-template-rows: repeat(5, 3.5em);
  gap: 0.5em 0;
  align-items: stretch;
  align-content: space-between;
}

.button:hover,
#clear:hover {
  background: #dfd3d4;
}

.equal-btn {
  grid-column: 2 / 4;
  aspect-ratio: inherit;
  width: auto;
  background: #ab2330;
  color: #fff;
  font-weight: 600;
  font-size: 1.25em;
}

.numbers > button:last-child:hover {
  background: #891c26;
}

.history {
  padding-right: 0.5em;
  list-style: none;
  align-self: flex-end;
  grid-area: auto;
  height: 27em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.history::-webkit-scrollbar {
  width: 0.3em;
  height: 0;
}

.history::-webkit-scrollbar-track {
  background: #5e21292d;
  margin-block: 0.5em;
  border-radius: 100vh;
}

.history::-webkit-scrollbar-thumb {
  background: #55282e;
  border-radius: 100vh;
}

.delete-history {
  color: #5e2129;
  border: 1px solid #5e2129;
  padding: 0.5em 1em;
  margin: 0 0 2em;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.delete-history:hover {
  background: #ececec;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 0.5em;
  color: #5e2129;
  background: #efe9ea;
  padding: 0.5em 1em;
  margin: 0 0 1em;
  border-radius: 0.25rem;
  letter-spacing: -1px;
  width: 100%;
}

.history-result {
  font-size: 1.5em;
  max-width: 3.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.history-ecuation {
  font-size: 0.9em;
  max-width: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none;
}

@media screen and (max-width: 750px) {
  body {
    place-content: end center;
    grid-template-columns: none;
    grid-template-areas:
      "history"
      "calculator";
  }

  .calculator {
    max-width: 17em;
    grid-area: calculator;
    margin-bottom: 1em;
  }

  .history {
    grid-area: history;
    margin-top: 2em;
    height: -webkit-fill-available;
    overflow: scroll;
    justify-content: flex-end;
  }

  .buttons {
    flex-direction: column;
    gap: 0;
  }

  .operations {
    display: flex;
    justify-content: space-between;
  }

  .op-btn {
    width: 3.5em;
    aspect-ratio: 2 / 1;
  }

  .button:hover,
  #clear:hover {
    background: #efe9ea;
  }
}
